  
.main{
    border: 2px solid rgb(212, 197, 197);
    width: 60%;
    height: 300px;
  background:linear-gradient(rgb(228, 82, 82),rgb(51, 28, 28));
 color: rgb(155, 147, 124);
  text-align: center;
}